<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

			<div class="tc">
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/skoasound/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/skoasound" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/skoasound" "svg" "icons-instagram") }}
          {{ partial "social-icon" (dict "link" "https://soundcloud.com/skoasound" "svg" "icons-soundcloud") }}
          {{ partial "social-icon" (dict "link" "https://www.youtube.com/channel/UC8RxO_d1e-KgU7bBFQ2hVzQ" "svg" "icons-youtube") }}
				</ul>
			</div>

	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
