<nav class="divider-grey overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white relative">
	<!-- <ul class="flex b grey-3">

		<li><a href="/" class="pa3 no-underline db">Some Kind of Artist</a></li>
	</ul> -->
	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none"> 
		<img src="/img/SKLOGOConverted.svg" alt="SKOA logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		
		<li class="hover-1"><a href="/" class="pa3 no-underline db">Home</a></li>
		
		<li class="hover-2"><a href="/post" class="pa3 no-underline db">Posts</a></li>
		
		<li class="hover-3"><a href="/about" class="pa3 no-underline db">About</a></li>

		<li class="hover-4"><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
