{{ if gt .Paginator.TotalPages 1 }}
 
<nav class="cf pa3 flex justify-between">
     <div class="pagination flex-none">
        {{ if .Paginator.HasPrev }}
        <a class="fl dib link dim black f6 f5-ns b pa2" title="Previous Page" href="{{ .Paginator.Prev.URL }}">
           &larr; Previous
        </a>
        {{ end }}
    </div>
     <div class="flex-b pagination">
    {{ if .Paginator.HasNext }}
    <a class="fl dib link dim black f6 f5-ns b pa2" title="Next Page" href="{{ .Paginator.Next.URL }}">
        Next  &rarr;
    </a>
    {{ end }}
    </div>
</nav>
 
{{ end }}
