::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 0px 0 var(--grey-1);
  /* Link hover states */
/*   & a {
    transition: var(--hover-transition);
  } */
/*   & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary-3);
  } */
}

li.hover-1:hover, li.hover-1.active{
    box-shadow: inset 0 -4px 0 var(--hover-1);
  }
li.hover-1:focus {
    box-shadow: inset 0 -4px 0 var(--hover-1);
  }
li.hover-2:hover,li.hover-2.active {
    box-shadow: inset 0 -4px 0 var(--hover-2);
  }
li.hover-2:focus {
    box-shadow: inset 0 -4px 0 var(--hover-2);
  }
li.hover-3:hover,li.hover-3.active {
    box-shadow: inset 0 -4px 0 var(--hover-3);
  }
li.hover-3:focus {
    box-shadow: inset 0 -4px 0 var(--hover-3);
  }
li.hover-4:hover,li.hover-4.active {
    box-shadow: inset 0 -4px 0 var(--hover-4);
  }
li.hover-4:focus {
    box-shadow: inset 0 -4px 0 var(--hover-4);
  }
