::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary-3);
  }
}
.hover-1 {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & li a:hover, & li a:focus {
    box-shadow: inset 0 -4px 0 var(--hover-1);
  }
}
}
.hover-2 {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & li a:hover, & li a:focus {
    box-shadow: inset 0 -4px 0 var(--hover-2);
  }
}
}
.hover-3 {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & li a:hover, & li a:focus {
    box-shadow: inset 0 -4px 0 var(--hover-3);
  }
}
